body {
  background: #e8e8e8;
}

h1 {
  text-align: center;
}

h4 {
  margin-bottom: 0px;
}

h4 + p {
  margin-top: 0.5em;
}

a[data-sample] {
  background: #333;
  color: white;
  display: inline-block;
  width: 200px;
  text-align: center;
  padding: 10px;
  cursor: hand;
}

div.code-sample {
  display: none;
  font-size: 0.85em;
}

div.code-sample.active {
  display: block;
}

div.code-sample pre {
  background: #f0f0f0;
  padding: 20px;
}

/* twitter embed css - customized */

blockquote {
  background: white;
  padding: 16px;
  margin: 10px 0;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  color: #000;
}

blockquote p {
  margin: 0 5px 10px 0;
}

blockquote a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
}
